<h1 class='my-3'>These are the people involved</h1>

<%= form_with url: participants_path, method: :get, class: "d-flex my-3" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Look for someone"
  %>
  <%= submit_tag "Search", class: "btn btn-success" %>
<% end %>


<ul>
  <% @participants.each do |participant| %>
    <li><%= link_to participant_path(participant) do %><%= participant.first_name.capitalize %> <%= participant.last_name.capitalize %><% end %></li>
  <% end %>
</ul>

<% not_giving_yet = @participants.to_a %>
<% not_receiving_yet = @participants.to_a %>


<% gift_giver = not_giving_yet.shuffle![0].first_name.capitalize %>
<% if not_receiving_yet.include?(gift_giver) %>
  <% not_receiving_yet.delete(gift_giver)  %>
  <% gift_receiver = not_receiving_yet.shuffle![0].first_name.capitalize %>
  <% not_receiving_yet.append(gift_giver)  %>
<% else %>
  <% gift_receiver = not_receiving_yet.shuffle![0].first_name.capitalize %>
<% end %>

<% not_giving_yet.delete(gift_giver) %>
<% not_receiving_yet.delete(gift_receiver) %>

<p><%= gift_giver %> has to buy a present for <%= gift_receiver %></p>


<%= link_to "Add more", new_participant_path, class:"btn btn-success"%>
<a href="" class='btn btn-success'>Pair</a>
