<h2><%= @participant.first_name.capitalize %> <%= @participant.last_name.capitalize %></h2>

<%= link_to "âš™ï¸", edit_participant_path(@participant), class:"btn"%>
<%= link_to "ðŸ—‘ï¸",
  participant_path(@participant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger"
%>

<%= simple_form_for [@participant, @wishlist] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Send your wishlist to Santa", class: "btn btn-success my-3" %>
<% end %>

<% if @participant.wishlists.count ==0 %>
    <p><%= @participant.first_name.capitalize%> hasn't given any clues for presents they might like</p>
  <% else %>
    <p><strong><%= @participant.first_name.capitalize %> would like for Christmas:</strong></p>
<% end %>


<% @participant.wishlists.each do |wishlist| %>
  <p><%= wishlist.created_at.strftime("%d/%m/%Y") %> - <%= wishlist.content %></p>
<% end %>


<%= link_to "Everyone", participants_path, class:"btn btn-success my-2"%>
