<h2><%= @participant.first_name %> <%= @participant.last_name %></h2>

<%= link_to "Everyone", participants_path, class:"btn btn-primary"%>
<%= link_to "âš™ï¸", edit_participant_path(@participant), class:"btn btn-praimary"%>
<%= link_to "ðŸ—‘ï¸",
  participant_path(@participant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger"
%>
